@import "reset.css" screen;

@font-face {
   font-family: PFHandbookPro;
   src: url('../fonts/PFHandbookPro-Regular.ttf');
}

@font-face {
   font-family: PFHandbookProBold;
   src: url('../fonts/PFHandbookPro-Bold.ttf');
}


@font-face {
   font-family: PFHandbookProMediun;
   src: url('../fonts/PFHandbookPro-Medium.ttf');
}

@font-face {
   font-family: PFHandbookProItalic;
   src: url('../fonts/PFHandbookPro-Italic.ttf');
}

body{
   font-family: PFHandbookPro;
}


.w1048{
   width: 1048px;
   margin: 0 auto;
}


.head {
   height: 116px;

}

.logo{
   padding: 15px 0 0 19px;
   width: 115px;
   float: left;
}

.clear{
   clear: both;
}


.gray-head{
   float: right;
   padding-top: 13px;
   color: #b8b7b7;
   width: 560px;
   line-height: 11px;
   font-size: 16px;
}

.send-message{
   background: url('../img/mail-ico.png') scroll 0 3px no-repeat;
   padding-left: 15px;
   margin: 0 31px 0 83px;
   float: right;
}

.gray-head a{
   color: #b8b7b7;
}

.gray-head a:hover{
   color: #23282a;
}

.phone-head{
   float: right;
}

.phone-head a{
   margin-left: 40px;
}

.slider1{
   height: 511px;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
   background-position: center;
}

.top-menu{
   float: left;
   margin: 51px 0 0 80px;
}

.one-top-menu{
   margin: 0 20px;
   float: left;
   font-family: PFHandbookProBold;
   font-size: 22px;
}


.one-top-menu a{
   color: #23282a;
   text-decoration: none;
}

.one-top-menu a:hover{
   color: #b8b7b7;
}

.zak-in-head{
   background: url('../img/zak-button.png');
   width: 90px;
   height: 90px;
   cursor: pointer;
   position: absolute;
   margin: 46px 0 0 925px;
}

.zak-in-head:hover{
   /*opacity: 0.8;*/
}

.switch-slide{
   margin: 440px 32px 0 0;
   float: right;
}

.one-swicth-slide{
   width: 16px;
   height: 16px;
   opacity: 0.8;
   cursor: pointer;
   float: right;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   margin-left: 8px;
   background: #ffffff;

   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s; /* IE9+ */
}


.one-swicth-slide:hover{
   opacity: 1;
}

.one-swicth-slide.active{
   opacity: 1;
}


.title-block{
   font-family: PFHandbookProMediun;
   text-align: center;
   font-size: 44px;
   line-height: 113px;
   color: #171717;
}

.one-promo{
   width: 523px;
   height: 224px;
   border: 1px solid #cccccc;
   margin: 0 -1px -1px 0;
   float: left;
}

.one-promo:hover{
   background: #90b3c9;
}

.img-ico-promo-hover{
   opacity: 0;
   width: 180px;
   height: 224px;
   position: absolute;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s;
}

.img-ico-promo{
   width: 180px;
   height: 224px;
   position: absolute;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s;
}

.one-promo:hover .img-ico-promo{
   opacity: 0;
}

.one-promo:hover .img-ico-promo-hover{
   opacity: 1;
}

.one-promo table, .one-promo td{
   width: 180px;
   text-align: center;
   vertical-align: middle;
   height: 224px;
}

.text-promo{
   color: #242424;
   font-family: PFHandbookProMediun;
   line-height: 26px;
   font-size: 16px;
   text-transform: uppercase;
   width: 285px;
   position: absolute;
   margin-left: 180px;
   margin-top: 75px;
}

.title-promo{
   font-size: 28px;
   margin-bottom: 15px;
}

.one-promo:hover .text-promo{
   color: #ffffff;
}



.send-feedback{
   margin: 15px 0 32px 0;
   border: #90b3c9 2px solid;
   padding: 31px 0 0 105px;
   height: 68px;
   font-family: PFHandbookProMediun;
   font-size: 20px;
   line-height: 44px;
}

.send-feedback .button{
   margin-left: 30px;
}

.button{
   display: inline-block;
   background: #ee600e;
   height: 44px;
   padding: 0 50px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   border: none;
   -webkit-border-radius: 10px;
   line-height: 44px;
   color: #ffffff;
   font-size: 23px;
   font-family: PFHandbookProMediun;
   cursor: pointer;
   text-transform: uppercase;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   -ms-transition-duration: 0.2s; /* IE9+ */
}

.button:hover{
   background: #799bb0;
}

.button a{
   color: #ffffff;
   font-size: 23px;
   font-family: PFHandbookProMediun;
   text-decoration: none;
}

.slider2{
   background: url('../img/sl2.png') no-repeat scroll 50% 0;
   height: 637px;
}

.slide{
   text-align: center;
   position: absolute;
   width: 100%;
   margin-top: 50px;
   opacity: 0;

   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
}

.slide.active{
   opacity: 1;
}

.up-slide{
   width: 1048px;
   margin: 0 auto;
   text-align: center;
   padding-top: 100px;
   
}

.bot-slide{
   text-align: center;
   margin-top: 300px;
}

.one-ico{
   display: inline-block;
   margin: 0 25px;
}

.one-ico:last-child{
   margin-right: 0;
}

.one-ico:first-child {
   margin-left: 0;
}

.one-ico a{
   font-size: 19px;
   color: #ffffff;
   font-family: PFHandbookProMediun;
   text-decoration: none;
   border-bottom: dotted 1px #ffffff;
}

.title-slide{
   font-size: 49px;
   color: #ffffff;
   font-family: PFHandbookProMediun;
   line-height: 70px;
}

.text-slide{
   font-size: 19px;
   line-height: 25px;
   color: #ffffff;
   font-family: PFHandbookPro;
   margin-bottom: 55px;
}

.img-ico{
   margin-bottom: 5px;
   position: relative;
   cursor: pointer;
}

.img-ico img{
   position: relative;
   -webkit-transition: -webkit-transform 0.5s;
   -moz-transition: -moz-transform 0.5s;
   -ms-transition: -moz-transform 0.5s;
   -o-transition: -o-transform 0.5s;
   transition: transform 0.5s;
}

.img-ico img:hover{
   -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
   -ms-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   transform: rotateY( 180deg );
}


.switch-slide2{
   margin-top: 460px;
   text-align: center;
   position: absolute;
   width: 1048px;
   z-index: 2;
}

.one-swicth-slide2{
   width: 16px;
   height: 16px;
   opacity: 0.5;
   cursor: pointer;
   display: inline-block;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   margin: 8px 2px;
   background: #ffffff;

   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s; /* IE9+ */
}

.one-swicth-slide2:hover, .one-swicth-slide2.active{
   opacity: 1;
}

.slide .button{
   margin-top: 130px;
}


.quote{
   border: #cccccc 1px solid;
   padding-bottom: 35px;
   margin-top: 25px;
   margin-bottom: 15px;
}

.photo-quote{
   float: left;
   margin: 60px 60px 0 60px;
   display: none;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s;
}

.photo-quote.active{
   display: block;
}

.right-quote{
   float: left;
   padding-top: 50px;
   width: 740px;
   display: none;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s;
}

.right-quote.active{
   display: block;
}

.name-quote{
   font-family: PFHandbookProMediun;
   font-size: 20px;
   color: #23282a;
   line-height: 21px;
}

.dolg-quote{
   font-size: 18px;
   line-height: 21px;
   color: #23282a;
   font-family: PFHandbookPro;
}


.text-quote{
   font-size: 19px;
   opacity: 0.53;
   line-height: 23px;
   font-family: PFHandbookProItalic;
   margin-top: 15px;
}

.blue-switch{
   position: absolute;
   z-index: 2;
   margin-top: 20px;
   text-align: right;
   width: 1024px;
}

.one-blue-switch{
   width: 16px;
   height: 16px;
   opacity: 0.5;
   cursor: pointer;
   display: inline-block;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   margin: 8px 0;
   background: #90b3c9;

   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s; /* IE9+ */
}

.one-blue-switch:hover, .one-blue-switch.active{
   opacity: 1;
}

.text-after-title{
   color: #23282a;
   font-size: 19px;
   line-height: 25px;
   font-family: PFHandbookPro;
   margin-top: -30px;
   text-align: center;
}

.how-it-work{
   background: url('../img/how-it-work.png') no-repeat scroll 50% 0;
   width: 1040px;
   height: 249px;
   margin: 40px auto 0;
}

.tarif-pre{
   background: url('../img/tarif-pre.png') no-repeat scroll 50% 100%;
   height: 125px;
}

.tarifs{
   background: url('../img/tarif-bg.png') no-repeat scroll 50% 0;
   height: 501px;
   padding-top: 40px;
}

.title-tarif{
   text-align: center;
   font-size: 49px;
   font-family: PFHandbookProBold;
   color: #ffffff;
   line-height: 60px;

}

.post-title{
   text-align: center;
   color: #ffffff;
   line-height: 25px;
   font-size: 19px;

}

.more{
   height: 360px;
   vertical-align: middle;
   margin-top: 20px;
}

.one-col-more{
   width: 261px;
   float: left;

}

.one-col-more ul{
   display: none;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   -ms-transition-duration: 0.4s;
   
}

.one-col-more:hover ul{
   display: block;
}

.one-col-more table, .one-col-more table tr, .one-col-more table td{
   height: 300px;
   width: 100%;
   vertical-align: middle;
}




.separator{
   width: 1px;
   float: left;
   height: 241px;
   background: #cccccc;
   margin-top: 30px;
}

.one-col-more{
   text-align: center;
}

.one-col-more .button{
   margin-top: 15px;
}

.title-in-col{
   color: #ffffff;
   font-family: PFHandbookProBold;
   font-size: 26px;
   margin-bottom: 10px;
}

.post-title-in-col{
   color: #ffffff;
   font-family: PFHandbookPro;
   font-size: 16px;
   line-height: 21px;
   margin-bottom: 40px;
}

.more .button{
   background: #799bb0;
}

.more .button:hover{
   background: #ee600e;
}

.price-in-col{
   font-family: PFHandbookProBold;
   font-size: 23px;
   color: #ffffff;
}

.one-col-more ul{
   text-align: left;
   margin-left: 45px;
   list-style: disc;
   margin-top: 20px;
}

.one-col-more li{
   color: #ffffff;
   font-size: 17px;
   line-height: 18px;
   margin-bottom: 5px;

}

.post-title-gray{
   font-size: 19px;
   line-height: 26px;
   color: #242424;
   opacity: 0.55;
   margin-top: -25px;
   text-align: center;
}

.quest{
   background: url('../img/quest-bg.png');
   width: 516px;
   height: 200px;
   padding-top: 30px;
   float: left;
   text-align: center;
   margin-bottom: 5px;
}

.quest.right{
   float: right;
}

.quests{
   margin: 30px 0 50px 0;
}

.link{
   margin-top: 15px;
}

.link a{
   color: #242424;
   text-decoration: none;
   border-bottom: 1px solid #cccccc;
   font-family: PFHandbookProMediun;
   font-size: 28px;
   line-height: 26px;

}


.link a:hover{
   color: #ee600e;
   border-bottom: 1px solid #ee600e;
}

.gray-link{
   color: #242424;
   opacity: 0.33;
   font-size: 16px;
   margin-top: 15px;
}


.one-news{
   float: left;
   width: 349px;

}

.ico-news{
   float: left;
   width: 64px;
}

.text-news{
   float: left;
   width: 250px;
}

.link-news{
   text-transform: uppercase;
   line-height: 26px;
   font-size: 18px;
   border-bottom: 1px solid #cccccc;
}

.link-news a{
   color: #242424;
   text-decoration: none;
}

.link-news a:hover{
   color: #ee600e;
}

.news-block{
   padding-bottom: 30px;
}

.date-news{
   text-transform: uppercase;
   opacity: 0.33;
   color: #242424;
   font-size: 16px;
   font-family: PFHandbookProMediun;
   margin-top: 10px;
}

.faq{
   background: url('../img/faq.png') no-repeat scroll 50% 0;
   height: 421px;
}

.has-quest{
   padding: 34px 0 28px 74px;
   border: 2px solid #90b3c9;
   margin-top: 38px;
   line-height: 44px;
   font-family: PFHandbookProMediun;
   color: #242424;
   font-size: 20px;
   text-transform: uppercase;
}

.has-quest.fix{
   margin-top: 0;
   margin-bottom: 38px;
   padding: 34px 0 30px 30px;
}

.input-with-def{
   height: 42px;
   border: 1px solid #cccccc;
   color: #cccccc;
   padding: 0 16px;
   width: 250px;
   font-family: PFHandbookPro;
   margin-left: 15px;
   font-size: 18px;
   margin-right: 20px;
}

.input-with-def.active{
   color: #242424;
}

.foot-people{
   background: url('../img/foot-people.png') no-repeat scroll 50% 0;
   height: 326px;
}

.foot-menu{
   background: url('../img/foot-menu.png') no-repeat scroll 50% 0;
   height: 58px;
   text-align: center;
}

.foot-menu a{
   color: #FFFFFF;
   font-size: 22px;
   font-family: PFHandbookProBold;
   margin: 0 20px;
   line-height: 58px;
   text-decoration: none;
}

.foot-menu a:hover{
   opacity: 0.8;
}

.super-foot{
   height: 54px;
   line-height: 54px;
   color: #b8b7b7;
   font-size: 16px;

}

.copy{
   margin-right: 50px;
   float: left;
}

.phone-foot, .mail{
   float: left;
   margin-right: 50px;
}

.mail a{
   color: #b8b7b7;
   text-decoration: underline;
}

.mail a:hover{
   color: #ee600e;
}

.search-str{
   float: right;
   background: url('../img/ico-search.png') no-repeat scroll 100% 3px;
   border: none;
   border-bottom: 1px solid #242424;
   opacity: 0.33;
   margin-top: 17px;
   font-size: 17px;
   font-family: PFHandbookPro;
}

.gray-head .search-str{
   margin-top: -6px;
   margin-left: 40px;
   margin-right: 33px;
}

.faq-info{
   background: url('../img/faq-ico.png') no-repeat scroll 0 100px;
   padding: 100px 0 0 70px;
   float: left;
   width: 400px;
}

ol{
   list-style: decimal;
   margin-left: 10px;
   color: #ffffff;
}

.title-faq{
   line-height: 50px;
}

.title-faq a{
   font-family: PFHandbookProMediun;
   font-size: 28px;
   text-decoration: none;
   border-bottom: 1px solid #cccccc;
   color: #FFFFFF;
}

.title-faq a:hover{
   opacity: 0.8;
}

.faq-info li span{
   color: #FFFFFF;
   border-bottom: 1px dotted #ffffff;
   font-size: 19px;
   line-height: 26px;
}

.faq-info a{
   text-decoration: none;
}

.faq-info li span:hover{
   opacity: 0.8;
}

.faq-right{
   background: url('../img/faq-r.png');
   width: 419px;
   height: 284px;
   margin-top: 50px;
   float: right;
}

.subscr{
   text-transform: uppercase;
   line-height: 23px;
   font-size: 18px;
   width: 140px;
   margin: 90px 0 0 72px;
}

.subscr a{
   color: #c0d8e8;
}

.subscr a:hover{
   color: #ffffff;
}

.post-head{
   background: url('../img/foot-menu.png') no-repeat scroll 50% 0;
   height: 58px;
   margin-bottom: 50px;
}

.button.gray{
   background: #cccccc;
}

.button.gray:hover{
   background: #ee600e;
}

.more-e{
   text-align: center;
   margin-top: -40px;

}

.back{
   background: url('../img/back.png') no-repeat;
   padding-left: 21px;
   line-height: 17px;
   font-size: 19px;
   color: #90b3c9;
   text-transform: uppercase;
}

.back a{
   color: #90b3c9;
   text-decoration: none;
}

.back a:hover{
   color: #ee600e;
}


.one-change{
   float: left;
   width: 262px;
   text-align: center;
}

.circle{
   width: 98px;
   height: 98px;
   border-radius: 49px;
   -moz-border-radius: 49px;
   -webkit-border-radius: 49px;
   background: #90b3c9;
   text-align: center;
   vertical-align: middle;
   margin: 0 auto;
}

.circle-img{
   vertical-align: middle;
   display: table-cell;
   width: 98px;
   height: 98px;
}

.circle img{
   vertical-align: middle;

}

.changes{
   margin-top: 45px;
}

.black-text{
   text-transform: uppercase;
   color: #101010;
   font-size: 21px;
   line-height: 26px;
   font-family: PFHandbookProBold;
   margin-top: 7px;
}

.black-text.active{
   color: #ee600e;
}

.circle.active{
   background: #ee600e;
}

.circle.future{
   background: #c2d5e1;
}

.orange-c{
   width: 22px;
   height: 22px;
   border: 1px solid #ee600e;
   border-radius: 12px;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   background: #ee600e;
   margin: 20px auto 0;
}

.line-orange{
   background: #ee600e;
   height: 2px;
   margin: -12px 126px;

}

.orange-c.future{
   background: #ffffff;

}

.gray-text-in-line .one-change{
   color: #000000;
   opacity: 0.61;
   margin-top: 0;
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
}

.gray-horisontal{
   height: 1px;
   background: #cccccc;
   margin-top: 40px;
}

.select-var{
   font-family: PFHandbookProMediun;
   font-size: 27px;
   text-transform: uppercase;
   color: #242424;
   margin-top: 45px;
   margin-bottom: 22px;
}

.row-vars{
   text-align: center;
}



.one-var:first-child{
   float: left;
   margin-right: 0;
}

.one-var:last-child{
   float: right;
   margin-right: 0;
}

.one-var{
   width: 315px;
   height: 290px;
   border: 1px solid #cccccc;
   text-align: center;
   padding-top: 25px;
   display: inline-block;
   margin-bottom: 60px;
}

.one-var img{
   opacity: 0.5;
/*   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   -ms-transition-duration: 0.2s; 
   transition-duration: 0.2s;*/
}

.one-var .button{
   display: none;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   -ms-transition-duration: 0.2s; 
   transition-duration: 0.2s;
}

.one-var:hover .button{
   display: inline-block;
}


.one-var:hover img{
   opacity: 1;
}

.number{
   position: absolute;
   width: 315px;
   font-size: 19px;
   text-align: center;
   opacity: 0.33;
   margin-top: 40px;
}

.one-var .button{
   background: #799bb0;
   height: 37px;
   line-height: 37px;
   padding: 0 33px;
   position: absolute;
   margin: 122px 0 0 49px;
}

.one-var .button:hover{
   background: #ee600e;
}

.row-vars.vars4 .one-var img{
   width: 196px;
}

.row-vars.vars4 .one-var{
   width: 234px;
   padding-top: 17px;
   height: 217px;
   margin-right: 35px;
}

.row-vars.vars4 .one-var:first-child{
   float: left;
   margin-right: 30px;
}

.row-vars.vars4 .one-var:last-child{
   float: right;
   margin-right: 0;
}

.row-vars.vars4 .number{
   width: 234px;
}


.ico-block{
   margin-top: 35px;
   text-align: center;
}

.ico-block img{
   display: inline-block;
   margin-right: 23px;
}

.ico-block img:last-child{
   margin-right: 0;
}

.photo{
   width: 136px;
   height: 136px;
   border-radius: 68px;
   -moz-border-radius: 68px;
   -webkit-border-radius: 68px;
   position: relative;
   overflow: hidden;
   margin: -68px auto 0;

}

.opinion{
   text-align: center;
   margin-bottom: 70px;
}

.one-op{
   width: 316px;
   height: 440px;
   border: 1px solid #cccccc;
   margin-top: 100px;
   background: #FFFFFF;
   display: inline-block;
}

.one-op:first-child{
   float: left;
}

.one-op:last-child{
   float: right;
}

.text-op{
   color: #23282a;
   font-size: 18px;
   line-height: 26px;
   opacity: 0.53;
   padding: 25px 18px 25px 40px;
}

.aut-op{
   padding-left: 40px;
   opacity: 0.92;
   color: #23282a;
   font-family: PFHandbookProMediun;
   font-size: 20px;
}


.dolg-op{
   padding-left: 40px;
   padding-right: 18px;
   color: #23282a;
   font-size: 18px;
   line-height: 21px;
   margin-top: 5px;
}

.slider-big-img{
   height: 643px;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
   background-position: center;
   margin-top: 35px;
   margin-bottom: 50px;
}

.one-preview{
   width: 88px;
   padding-top: 7px;
   height: 81px;
   border: 1px solid #cccccc;
   background: #ffffff;
   margin-bottom: 8px;
   text-align: center;
   cursor: pointer;

}

.switch-preview{
   float: right;
   margin-top: 75px;
}

.one-preview img{
   width: 74px;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   -ms-transition-duration: 0.2s; /* IE9+ */
   transition-duration: 0.2s;
   opacity: 0.5;
}

.one-preview.active img, .one-preview:hover img{
   opacity: 1;
}

.check{
   display: inline-block;
   width: 20px;
   height: 14px;
   padding-top: 6px;
   background: #90b3c9;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   cursor: pointer;
}

.check:hover{
   opacity: 0.8;
}

.cir{
   display: none;
   width: 8px;
   height: 8px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background: #ee600e;
   margin: 0 auto;
   box-shadow: 0 0 4px 1px #ee600e;
   -moz-box-shadow: 0 0 4px 1px #ee600e;
   -webkit-box-shadow: 0 0 4px 1px #ee600e;
}

.check.active .cir{
   display: block;
}

.title-check{
   display: inline-block;
   line-height: 20px;
   margin: 0 24px 0 10px;
   color: #242424;
   font-size: 19px;
}

.select-nos{
   font-family: PFHandbookProMediun;
   font-size: 22px;
   line-height: 31px;
   margin-bottom: 5px;
}

.select-boxs .button{
   margin-bottom: -10px;
   margin-left: 40px;
}

.tabs{
   background: url('../img/tabs-bg.png');
   height: 651px;
   margin-top: 70px;
}

.left2{
   background: url('../img/left-tab.png') no-repeat scroll 100% 0;
   width: 200px;
   height: 45px;
   float: left;
}

.left1{
   height: 45px;
   background: #ffffff;
   width: 10px;
   float: left;
}

.right2{
   background: url('../img/right-tab.png') no-repeat scroll 0 0;
   width: 200px;
   height: 45px;
   float: right;
}

.right1{
   height: 45px;
   background: #ffffff;
   width: 10px;
   float: right;
}

.one-tab-button{
   line-height: 25px;
   font-size: 21px;
   color: #90b3c9;
   font-family: PFHandbookProBold;
   padding: 10px 40px 0 40px;
   width: auto;
   display: inline-block;
   cursor: pointer;
   text-transform: uppercase;
}

.one-tab-button span{

   border-bottom: 1px dotted #90b3c9;
}

.one-tab-button:hover{
   color: #ee600e;
}

.one-tab-button:hover span{

   border-bottom: 1px dotted #ee600e;
}

.one-tab-button.active{
   color: #FFFFFF;
}

.one-tab-button.active:hover{
   color: #FFFFFF;
}

.one-tab-button.active span{
   border: none;
}

.tab-buttons{
   margin-top: -45px;
   position: absolute;
   margin-left: 40px;
}

.tab-content{
   padding: 60px 60px 0 40px;
   display: none;
}

.tab-content.active{
   display: block;
}

.title-tab{
   font-size: 31px;
   text-transform: uppercase;
   color: #FFFFFF;
   font-family: PFHandbookProMediun;
}

.description-tab{
   font-size: 19px;
   color: #ffffff;
   margin: 20px 0;
}

.gray-line-in-tab{
   height: 1px;
   width: 90%;
   background: #ffffff;
}

.sost{
   font-size: 25px;
   font-family: PFHandbookProBold;
   color: #FFFFFF;
   text-transform: uppercase;
   margin-bottom: 20px;
   margin-top: 35px;
}

.tab-content td{
   width: 430px;

}

.tab-content .check{
   margin-bottom: 18px;
   background: #FFFFFF;
}

.tab-content .title-check{
   color: #ffffff;
   margin-bottom: 18px;
}

.small-title{
   font-size: 22px;
   font-family: PFHandbookProMediun;
   color: #FFFFFF;
   margin-top: 25px;
   line-height: 31px;
}

.price-tab{
   font-family: PFHandbookProBold;
   font-size: 25px;
   text-transform: uppercase;
   color: #FFFFFF;
   vertical-align: baseline;
   margin-top: 60px;
}

.price-tab span{
   font-size: 35px;
   text-transform: none;
   vertical-align: baseline;
}

.center-but{
   text-align: center;
}

.post-tab{
   color: #919191;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 18px;
}

.post-tab b{
   font-family: PFHandbookProMediun;
   color: #363636;
}

.post-tab a{
   color: #ee600e;
   font-family: PFHandbookProMediun;
}

.post-tab a:hover{
   color: #799bb0;
}